* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --colorDark1: #112D4E;
    --colorDark2: #3f72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7f7;
}

.wrapper {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 120vh;
    color: var(--colorLight2);
    background: linear-gradient(152deg, rgba(51, 123, 237, 1) 0%, rgba(67, 173, 0, 0.26) 100%);
    overflow: auto;
    
    
}

.tab-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

.tab{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
}

.tab.current-tab {
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 4px;
}

.weather-container{
    margin-block: 0;  
} 

.form-container.active {
    scale: 1;
    opacity: 1;
    display: flex;
}

.btn{
    all: unset;
    text-transform: uppercase;
    font-size: 0.85rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: var(--colorDark2);
    cursor: pointer;
    margin: 1.5rem;
}

.sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.grant-location-container{
    display: none;

}

.grant-location-container.active{
    display: flex;
}

.grant-location-container img{
    margin-bottom: 2rem;
}

.grant-location-container p:nth-child(2){
    font-size: 1.75rem;
    font-weight: 600;
}

.grant-location-container p:nth-child(3){
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    letter-spacing: 0.75px;

}

.loading-container{
    display: none;

}
.loading-container.active{
    display: flex;

}

.loading-container p{
    text-transform: uppercase;
}

.user-info-container{
    display: none;
}

.user-info-container.active{
    display: flex;
    /* border: 2px solid red; */
    margin: 0 0;
    
}

.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;

}

.name p{
    font-size: 2rem;

}

.name img{
    height: 25px;
    width: 25px;
}

.user-info-container p{
    font-size: 1.5rem;
    font-weight: 200;

}

.user-info-container img:nth-child(3){
    width: 90px;
    height: 90px;
}

.user-info-container p[data-temp]{
    font-size: 2.75rem;
    font-weight: 700;
}


.parameter-container{
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    margin-top: 2rem;

}

.parameter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 200px;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgba(219,226,239,0.5);
    gap: 5px 0;
}

.parameter img{
    width: 50px;
    height:50px
}

.parameter p:nth-child(2){
    text-transform: uppercase;
    font-size: 1.15rem;
    font-weight: 600;
    color: #1c5c99;
}

.parameter p:nth-child(3){
    color: black;
    font-size: 1.5rem;
    font-weight: 200;
}

.form-container{
    display: none;
    width: 90%;
    max-width: 550px;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 1rem;
    /* border: 2px solid red; */
}

.form-container.active{
    display: flex;
}


.form-container input{
    all: unset;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    margin: 3rem;
    background-color: rgba( 219, 226, 239, 0.5);
    border-radius: 10px;
}

.form-container input::placeholder{
    color: rgba(255,255 , 255,0.7 );
}
.form-container input:focus{
    outline: 3px solid rgba( 255,255,255,0.7);
}

.form-container button{
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.not-found{
    display: none;

}
.not-found img{
    width: 25vw;
    height: 50vh;
}

.not-found.active{
    display: flex;
    margin: 0 0;
    /* margin-bottom: 5rem; */
}
.not-found p{
    font-size: 3rem;
    padding: 0;
    color: #bf0000;
}